extends ../layout/main

block append variables
	- const pageTitle = "О компании";
	//- const prevPage = {href: '', text: ''};
	//- const pageTitle_OFF = true;

block content
	main
		.about
			.about__promo 			
				include ../blocks/breadcrumbs
				.about__subtitle «Альянс Ферекс» — это компания полного цикла, занимающаяся проектированием, поставкой, монтажем, светодиодного освещения и электротехнической продукции. Нашими клиентами являются сегменты B2B и B2G.
				.about__main-img 
					img(src="img/about/about-main.svg", alt="")
			.about__marquee 
				.about__marquee-swiper.swiper 
					.swiper-wrapper 
						.swiper-slide 
							<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.1978 22.0763C10.2205 21.9518 10.1241 21.8129 9.93574 21.6721C10.1986 21.6069 10.3617 21.5053 10.3864 21.3693C10.461 20.9586 9.24797 20.3938 7.6765 20.1079C6.10503 19.822 4.77075 19.923 4.69586 20.3337C4.67313 20.4582 4.76954 20.5971 4.95794 20.7379C4.69505 20.8033 4.53196 20.9049 4.50732 21.0407C4.4846 21.1652 4.58101 21.3041 4.7694 21.4448C4.50657 21.51 4.34343 21.6119 4.31879 21.7476C4.29606 21.8721 4.39248 22.011 4.58087 22.1518C4.31798 22.2172 4.1549 22.3189 4.13025 22.4546C4.09716 22.6363 4.31638 22.8479 4.70687 23.0524C4.6664 23.1823 4.63107 23.3273 4.60147 23.4897C4.46424 24.2468 5.14263 25.0498 6.24495 25.3436C7.34726 25.6374 8.51253 25.0995 8.72133 24.3591C8.77241 24.1777 8.8074 24.0152 8.82909 23.8684C9.40352 23.8329 9.78204 23.7034 9.82075 23.4902C9.84348 23.3657 9.74707 23.2268 9.55867 23.086C9.82156 23.0206 9.98464 22.9189 10.0093 22.7832C10.032 22.6587 9.9356 22.5198 9.74721 22.3791C10.0101 22.3136 10.1732 22.212 10.1978 22.0763Z" fill="#494949"/>
								<path d="M5.99397 23.5671C5.53725 23.4453 5.1281 23.3004 4.8002 23.1421C4.78124 23.133 4.77306 23.1102 4.78246 23.091C4.79155 23.0721 4.81442 23.0639 4.83358 23.0733C5.34649 23.3208 6.06223 23.5361 6.84915 23.6791C7.49306 23.7964 8.10949 23.8517 8.63226 23.8395C8.65334 23.839 8.67083 23.8557 8.67128 23.8767C8.67173 23.8978 8.65513 23.9153 8.63404 23.9158C8.1064 23.9281 7.48442 23.8722 6.83554 23.7543C6.54333 23.7012 6.26066 23.6379 5.99428 23.5669L5.99397 23.5671Z" fill="#757575"/>
								<path d="M6.18858 22.8614C5.59496 22.7031 5.07947 22.5059 4.73348 22.2997C4.7154 22.2889 4.70949 22.2654 4.7203 22.2473C4.7311 22.2292 4.7546 22.2233 4.77268 22.2341C5.26548 22.528 6.11123 22.804 7.03562 22.9723C7.94991 23.1386 8.83324 23.1797 9.39807 23.0817C9.41893 23.0783 9.43858 23.0921 9.4423 23.113C9.44576 23.1338 9.43195 23.1535 9.41104 23.1572C8.83756 23.2567 7.94429 23.2156 7.0217 23.0477C6.73369 22.9951 6.45304 22.9325 6.18822 22.8619L6.18858 22.8614Z" fill="#757575"/>
								<path d="M6.36713 22.1536C5.72615 21.9828 5.18297 21.7676 4.8385 21.5425C4.82083 21.531 4.81581 21.5071 4.82733 21.4895C4.83886 21.4718 4.86247 21.4667 4.8804 21.4783C5.35945 21.7916 6.23502 22.0858 7.22206 22.2655C8.13635 22.4319 9.01941 22.4729 9.5845 22.3749C9.60537 22.3715 9.62501 22.3853 9.62873 22.4062C9.63219 22.4271 9.61839 22.4467 9.59747 22.4504C9.024 22.5499 8.13072 22.5089 7.20814 22.3409C6.91567 22.2878 6.633 22.2244 6.36687 22.1536L6.36713 22.1536Z" fill="#757575"/>
								<path d="M6.56691 21.4484C6.05847 21.313 5.60712 21.1486 5.26887 20.9729C5.25007 20.963 5.24272 20.94 5.25258 20.9212C5.26245 20.9024 5.28543 20.8951 5.30423 20.9049C5.81281 21.1691 6.58295 21.4077 7.41686 21.5596C8.32305 21.7247 9.2014 21.7663 9.76651 21.6711C9.78737 21.6677 9.80697 21.6817 9.81043 21.7026C9.81389 21.7235 9.79983 21.7431 9.77896 21.7465C9.20552 21.8431 8.31722 21.8013 7.40299 21.6347C7.11414 21.5823 6.83251 21.5192 6.56665 21.4484L6.56691 21.4484Z" fill="#757575"/>
								<path d="M4.54634 16.7487C4.53578 16.037 4.38349 15.3342 4.09944 14.6816C3.49141 13.2832 2.62278 10.5379 3.29304 7.28526C4.26766 2.55413 9.02213 1.32285 12.709 2.64467C16.3958 3.96649 19.3684 7.76645 17.8057 11.9928C16.844 14.5933 14.8117 16.2186 13.3904 17.0843C12.488 17.634 11.7434 18.4035 11.2086 19.3149C10.5539 20.4304 9.35991 21.7196 7.44871 21.3084C4.9754 20.7759 4.56803 18.2298 4.54629 16.749L4.54634 16.7487Z" fill="#FCBC4E"/>
								<path d="M8.32181 20.5447L11.929 12.3141C12.0034 12.144 12.1226 12.0482 12.1948 12.1001C12.2671 12.1519 12.2653 12.3319 12.1909 12.5017C12.1889 12.5062 12.1865 12.5119 12.1842 12.5163L8.41483 20.6184C8.38649 20.6793 8.34315 20.711 8.31834 20.6892C8.29421 20.668 8.29595 20.604 8.32206 20.5448L8.32181 20.5447Z" fill="#D9AD39"/>
								<path d="M6.93477 20.2486L7.90289 11.3144C7.92282 11.1299 7.86743 10.9877 7.77902 10.9965C7.69055 11.0056 7.60258 11.1623 7.58261 11.3471C7.58216 11.3522 7.58151 11.3582 7.58112 11.363L6.81775 20.2661C6.81192 20.3331 6.83385 20.3821 6.86631 20.3758C6.89794 20.3696 6.92811 20.313 6.93503 20.2487L6.93477 20.2486Z" fill="#D19D17"/>
								<path d="M12.1132 11.5749C12.0939 11.5122 12.022 11.4712 11.952 11.4837L11.1257 11.6312L11.0644 10.8366C11.0609 10.795 11.0387 10.7533 10.9991 10.7229C10.9239 10.6657 10.8145 10.6699 10.7547 10.7322L10.7527 10.7343L9.85489 11.6749L9.71228 9.9572L9.71201 9.95445C9.70835 9.91255 9.68858 9.87046 9.65273 9.83626C9.57234 9.75998 9.44163 9.75112 9.36067 9.81686L8.20605 10.7547C8.15896 10.7931 8.15366 10.8602 8.19683 10.9093C8.24255 10.9618 8.32541 10.9745 8.38162 10.9376L9.34658 10.3062L9.61848 11.9768L9.61875 11.9782C9.62321 12.0049 9.63773 12.0311 9.66223 12.0518C9.71725 12.0981 9.80114 12.0986 9.8496 12.0532L10.7721 11.1884L10.8755 11.7778L10.8764 11.783C10.8772 11.7872 10.8782 11.7915 10.8796 11.7958C10.8988 11.8585 10.9708 11.8992 11.0408 11.8868L12.0215 11.7118C12.0915 11.6994 12.1326 11.6382 12.1133 11.5755L12.1132 11.5749Z" fill="white"/>
								<path opacity="0.69" d="M13.6942 16.0541C13.6451 16.041 13.5998 16.0127 13.5658 15.97C13.4818 15.8642 13.4992 15.7104 13.6051 15.6261C13.9085 15.385 14.1957 15.1288 14.4589 14.865C14.5543 14.7693 14.7092 14.7691 14.8049 14.8646C14.9007 14.96 14.9008 15.1148 14.8054 15.2106C14.5289 15.4877 14.2276 15.7564 13.9098 16.0092C13.8467 16.0594 13.7667 16.0733 13.6942 16.0541Z" fill="white"/>
								<path opacity="0.69" d="M15.2748 14.4804C15.2433 14.4721 15.2131 14.4573 15.1861 14.4356C15.0803 14.3516 15.0625 14.1977 15.1464 14.0919C17.377 11.2769 16.8981 8.29258 16.8929 8.26276C16.8702 8.12964 16.9596 8.00308 17.0929 7.98042C17.2263 7.95777 17.3526 8.04733 17.3753 8.18044C17.3974 8.31103 17.8948 11.4118 15.5298 14.3959C15.4673 14.4747 15.3662 14.5047 15.2748 14.4804Z" fill="white"/>
							</svg>
							span Свет и радость мы приносим людям
						.swiper-slide 
							<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.1978 22.0763C10.2205 21.9518 10.1241 21.8129 9.93574 21.6721C10.1986 21.6069 10.3617 21.5053 10.3864 21.3693C10.461 20.9586 9.24797 20.3938 7.6765 20.1079C6.10503 19.822 4.77075 19.923 4.69586 20.3337C4.67313 20.4582 4.76954 20.5971 4.95794 20.7379C4.69505 20.8033 4.53196 20.9049 4.50732 21.0407C4.4846 21.1652 4.58101 21.3041 4.7694 21.4448C4.50657 21.51 4.34343 21.6119 4.31879 21.7476C4.29606 21.8721 4.39248 22.011 4.58087 22.1518C4.31798 22.2172 4.1549 22.3189 4.13025 22.4546C4.09716 22.6363 4.31638 22.8479 4.70687 23.0524C4.6664 23.1823 4.63107 23.3273 4.60147 23.4897C4.46424 24.2468 5.14263 25.0498 6.24495 25.3436C7.34726 25.6374 8.51253 25.0995 8.72133 24.3591C8.77241 24.1777 8.8074 24.0152 8.82909 23.8684C9.40352 23.8329 9.78204 23.7034 9.82075 23.4902C9.84348 23.3657 9.74707 23.2268 9.55867 23.086C9.82156 23.0206 9.98464 22.9189 10.0093 22.7832C10.032 22.6587 9.9356 22.5198 9.74721 22.3791C10.0101 22.3136 10.1732 22.212 10.1978 22.0763Z" fill="#494949"/>
								<path d="M5.99397 23.5671C5.53725 23.4453 5.1281 23.3004 4.8002 23.1421C4.78124 23.133 4.77306 23.1102 4.78246 23.091C4.79155 23.0721 4.81442 23.0639 4.83358 23.0733C5.34649 23.3208 6.06223 23.5361 6.84915 23.6791C7.49306 23.7964 8.10949 23.8517 8.63226 23.8395C8.65334 23.839 8.67083 23.8557 8.67128 23.8767C8.67173 23.8978 8.65513 23.9153 8.63404 23.9158C8.1064 23.9281 7.48442 23.8722 6.83554 23.7543C6.54333 23.7012 6.26066 23.6379 5.99428 23.5669L5.99397 23.5671Z" fill="#757575"/>
								<path d="M6.18858 22.8614C5.59496 22.7031 5.07947 22.5059 4.73348 22.2997C4.7154 22.2889 4.70949 22.2654 4.7203 22.2473C4.7311 22.2292 4.7546 22.2233 4.77268 22.2341C5.26548 22.528 6.11123 22.804 7.03562 22.9723C7.94991 23.1386 8.83324 23.1797 9.39807 23.0817C9.41893 23.0783 9.43858 23.0921 9.4423 23.113C9.44576 23.1338 9.43195 23.1535 9.41104 23.1572C8.83756 23.2567 7.94429 23.2156 7.0217 23.0477C6.73369 22.9951 6.45304 22.9325 6.18822 22.8619L6.18858 22.8614Z" fill="#757575"/>
								<path d="M6.36713 22.1536C5.72615 21.9828 5.18297 21.7676 4.8385 21.5425C4.82083 21.531 4.81581 21.5071 4.82733 21.4895C4.83886 21.4718 4.86247 21.4667 4.8804 21.4783C5.35945 21.7916 6.23502 22.0858 7.22206 22.2655C8.13635 22.4319 9.01941 22.4729 9.5845 22.3749C9.60537 22.3715 9.62501 22.3853 9.62873 22.4062C9.63219 22.4271 9.61839 22.4467 9.59747 22.4504C9.024 22.5499 8.13072 22.5089 7.20814 22.3409C6.91567 22.2878 6.633 22.2244 6.36687 22.1536L6.36713 22.1536Z" fill="#757575"/>
								<path d="M6.56691 21.4484C6.05847 21.313 5.60712 21.1486 5.26887 20.9729C5.25007 20.963 5.24272 20.94 5.25258 20.9212C5.26245 20.9024 5.28543 20.8951 5.30423 20.9049C5.81281 21.1691 6.58295 21.4077 7.41686 21.5596C8.32305 21.7247 9.2014 21.7663 9.76651 21.6711C9.78737 21.6677 9.80697 21.6817 9.81043 21.7026C9.81389 21.7235 9.79983 21.7431 9.77896 21.7465C9.20552 21.8431 8.31722 21.8013 7.40299 21.6347C7.11414 21.5823 6.83251 21.5192 6.56665 21.4484L6.56691 21.4484Z" fill="#757575"/>
								<path d="M4.54634 16.7487C4.53578 16.037 4.38349 15.3342 4.09944 14.6816C3.49141 13.2832 2.62278 10.5379 3.29304 7.28526C4.26766 2.55413 9.02213 1.32285 12.709 2.64467C16.3958 3.96649 19.3684 7.76645 17.8057 11.9928C16.844 14.5933 14.8117 16.2186 13.3904 17.0843C12.488 17.634 11.7434 18.4035 11.2086 19.3149C10.5539 20.4304 9.35991 21.7196 7.44871 21.3084C4.9754 20.7759 4.56803 18.2298 4.54629 16.749L4.54634 16.7487Z" fill="#FCBC4E"/>
								<path d="M8.32181 20.5447L11.929 12.3141C12.0034 12.144 12.1226 12.0482 12.1948 12.1001C12.2671 12.1519 12.2653 12.3319 12.1909 12.5017C12.1889 12.5062 12.1865 12.5119 12.1842 12.5163L8.41483 20.6184C8.38649 20.6793 8.34315 20.711 8.31834 20.6892C8.29421 20.668 8.29595 20.604 8.32206 20.5448L8.32181 20.5447Z" fill="#D9AD39"/>
								<path d="M6.93477 20.2486L7.90289 11.3144C7.92282 11.1299 7.86743 10.9877 7.77902 10.9965C7.69055 11.0056 7.60258 11.1623 7.58261 11.3471C7.58216 11.3522 7.58151 11.3582 7.58112 11.363L6.81775 20.2661C6.81192 20.3331 6.83385 20.3821 6.86631 20.3758C6.89794 20.3696 6.92811 20.313 6.93503 20.2487L6.93477 20.2486Z" fill="#D19D17"/>
								<path d="M12.1132 11.5749C12.0939 11.5122 12.022 11.4712 11.952 11.4837L11.1257 11.6312L11.0644 10.8366C11.0609 10.795 11.0387 10.7533 10.9991 10.7229C10.9239 10.6657 10.8145 10.6699 10.7547 10.7322L10.7527 10.7343L9.85489 11.6749L9.71228 9.9572L9.71201 9.95445C9.70835 9.91255 9.68858 9.87046 9.65273 9.83626C9.57234 9.75998 9.44163 9.75112 9.36067 9.81686L8.20605 10.7547C8.15896 10.7931 8.15366 10.8602 8.19683 10.9093C8.24255 10.9618 8.32541 10.9745 8.38162 10.9376L9.34658 10.3062L9.61848 11.9768L9.61875 11.9782C9.62321 12.0049 9.63773 12.0311 9.66223 12.0518C9.71725 12.0981 9.80114 12.0986 9.8496 12.0532L10.7721 11.1884L10.8755 11.7778L10.8764 11.783C10.8772 11.7872 10.8782 11.7915 10.8796 11.7958C10.8988 11.8585 10.9708 11.8992 11.0408 11.8868L12.0215 11.7118C12.0915 11.6994 12.1326 11.6382 12.1133 11.5755L12.1132 11.5749Z" fill="white"/>
								<path opacity="0.69" d="M13.6942 16.0541C13.6451 16.041 13.5998 16.0127 13.5658 15.97C13.4818 15.8642 13.4992 15.7104 13.6051 15.6261C13.9085 15.385 14.1957 15.1288 14.4589 14.865C14.5543 14.7693 14.7092 14.7691 14.8049 14.8646C14.9007 14.96 14.9008 15.1148 14.8054 15.2106C14.5289 15.4877 14.2276 15.7564 13.9098 16.0092C13.8467 16.0594 13.7667 16.0733 13.6942 16.0541Z" fill="white"/>
								<path opacity="0.69" d="M15.2748 14.4804C15.2433 14.4721 15.2131 14.4573 15.1861 14.4356C15.0803 14.3516 15.0625 14.1977 15.1464 14.0919C17.377 11.2769 16.8981 8.29258 16.8929 8.26276C16.8702 8.12964 16.9596 8.00308 17.0929 7.98042C17.2263 7.95777 17.3526 8.04733 17.3753 8.18044C17.3974 8.31103 17.8948 11.4118 15.5298 14.3959C15.4673 14.4747 15.3662 14.5047 15.2748 14.4804Z" fill="white"/>
							</svg>
							span Свет и радость мы приносим людям
						.swiper-slide 
							<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.1978 22.0763C10.2205 21.9518 10.1241 21.8129 9.93574 21.6721C10.1986 21.6069 10.3617 21.5053 10.3864 21.3693C10.461 20.9586 9.24797 20.3938 7.6765 20.1079C6.10503 19.822 4.77075 19.923 4.69586 20.3337C4.67313 20.4582 4.76954 20.5971 4.95794 20.7379C4.69505 20.8033 4.53196 20.9049 4.50732 21.0407C4.4846 21.1652 4.58101 21.3041 4.7694 21.4448C4.50657 21.51 4.34343 21.6119 4.31879 21.7476C4.29606 21.8721 4.39248 22.011 4.58087 22.1518C4.31798 22.2172 4.1549 22.3189 4.13025 22.4546C4.09716 22.6363 4.31638 22.8479 4.70687 23.0524C4.6664 23.1823 4.63107 23.3273 4.60147 23.4897C4.46424 24.2468 5.14263 25.0498 6.24495 25.3436C7.34726 25.6374 8.51253 25.0995 8.72133 24.3591C8.77241 24.1777 8.8074 24.0152 8.82909 23.8684C9.40352 23.8329 9.78204 23.7034 9.82075 23.4902C9.84348 23.3657 9.74707 23.2268 9.55867 23.086C9.82156 23.0206 9.98464 22.9189 10.0093 22.7832C10.032 22.6587 9.9356 22.5198 9.74721 22.3791C10.0101 22.3136 10.1732 22.212 10.1978 22.0763Z" fill="#494949"/>
								<path d="M5.99397 23.5671C5.53725 23.4453 5.1281 23.3004 4.8002 23.1421C4.78124 23.133 4.77306 23.1102 4.78246 23.091C4.79155 23.0721 4.81442 23.0639 4.83358 23.0733C5.34649 23.3208 6.06223 23.5361 6.84915 23.6791C7.49306 23.7964 8.10949 23.8517 8.63226 23.8395C8.65334 23.839 8.67083 23.8557 8.67128 23.8767C8.67173 23.8978 8.65513 23.9153 8.63404 23.9158C8.1064 23.9281 7.48442 23.8722 6.83554 23.7543C6.54333 23.7012 6.26066 23.6379 5.99428 23.5669L5.99397 23.5671Z" fill="#757575"/>
								<path d="M6.18858 22.8614C5.59496 22.7031 5.07947 22.5059 4.73348 22.2997C4.7154 22.2889 4.70949 22.2654 4.7203 22.2473C4.7311 22.2292 4.7546 22.2233 4.77268 22.2341C5.26548 22.528 6.11123 22.804 7.03562 22.9723C7.94991 23.1386 8.83324 23.1797 9.39807 23.0817C9.41893 23.0783 9.43858 23.0921 9.4423 23.113C9.44576 23.1338 9.43195 23.1535 9.41104 23.1572C8.83756 23.2567 7.94429 23.2156 7.0217 23.0477C6.73369 22.9951 6.45304 22.9325 6.18822 22.8619L6.18858 22.8614Z" fill="#757575"/>
								<path d="M6.36713 22.1536C5.72615 21.9828 5.18297 21.7676 4.8385 21.5425C4.82083 21.531 4.81581 21.5071 4.82733 21.4895C4.83886 21.4718 4.86247 21.4667 4.8804 21.4783C5.35945 21.7916 6.23502 22.0858 7.22206 22.2655C8.13635 22.4319 9.01941 22.4729 9.5845 22.3749C9.60537 22.3715 9.62501 22.3853 9.62873 22.4062C9.63219 22.4271 9.61839 22.4467 9.59747 22.4504C9.024 22.5499 8.13072 22.5089 7.20814 22.3409C6.91567 22.2878 6.633 22.2244 6.36687 22.1536L6.36713 22.1536Z" fill="#757575"/>
								<path d="M6.56691 21.4484C6.05847 21.313 5.60712 21.1486 5.26887 20.9729C5.25007 20.963 5.24272 20.94 5.25258 20.9212C5.26245 20.9024 5.28543 20.8951 5.30423 20.9049C5.81281 21.1691 6.58295 21.4077 7.41686 21.5596C8.32305 21.7247 9.2014 21.7663 9.76651 21.6711C9.78737 21.6677 9.80697 21.6817 9.81043 21.7026C9.81389 21.7235 9.79983 21.7431 9.77896 21.7465C9.20552 21.8431 8.31722 21.8013 7.40299 21.6347C7.11414 21.5823 6.83251 21.5192 6.56665 21.4484L6.56691 21.4484Z" fill="#757575"/>
								<path d="M4.54634 16.7487C4.53578 16.037 4.38349 15.3342 4.09944 14.6816C3.49141 13.2832 2.62278 10.5379 3.29304 7.28526C4.26766 2.55413 9.02213 1.32285 12.709 2.64467C16.3958 3.96649 19.3684 7.76645 17.8057 11.9928C16.844 14.5933 14.8117 16.2186 13.3904 17.0843C12.488 17.634 11.7434 18.4035 11.2086 19.3149C10.5539 20.4304 9.35991 21.7196 7.44871 21.3084C4.9754 20.7759 4.56803 18.2298 4.54629 16.749L4.54634 16.7487Z" fill="#FCBC4E"/>
								<path d="M8.32181 20.5447L11.929 12.3141C12.0034 12.144 12.1226 12.0482 12.1948 12.1001C12.2671 12.1519 12.2653 12.3319 12.1909 12.5017C12.1889 12.5062 12.1865 12.5119 12.1842 12.5163L8.41483 20.6184C8.38649 20.6793 8.34315 20.711 8.31834 20.6892C8.29421 20.668 8.29595 20.604 8.32206 20.5448L8.32181 20.5447Z" fill="#D9AD39"/>
								<path d="M6.93477 20.2486L7.90289 11.3144C7.92282 11.1299 7.86743 10.9877 7.77902 10.9965C7.69055 11.0056 7.60258 11.1623 7.58261 11.3471C7.58216 11.3522 7.58151 11.3582 7.58112 11.363L6.81775 20.2661C6.81192 20.3331 6.83385 20.3821 6.86631 20.3758C6.89794 20.3696 6.92811 20.313 6.93503 20.2487L6.93477 20.2486Z" fill="#D19D17"/>
								<path d="M12.1132 11.5749C12.0939 11.5122 12.022 11.4712 11.952 11.4837L11.1257 11.6312L11.0644 10.8366C11.0609 10.795 11.0387 10.7533 10.9991 10.7229C10.9239 10.6657 10.8145 10.6699 10.7547 10.7322L10.7527 10.7343L9.85489 11.6749L9.71228 9.9572L9.71201 9.95445C9.70835 9.91255 9.68858 9.87046 9.65273 9.83626C9.57234 9.75998 9.44163 9.75112 9.36067 9.81686L8.20605 10.7547C8.15896 10.7931 8.15366 10.8602 8.19683 10.9093C8.24255 10.9618 8.32541 10.9745 8.38162 10.9376L9.34658 10.3062L9.61848 11.9768L9.61875 11.9782C9.62321 12.0049 9.63773 12.0311 9.66223 12.0518C9.71725 12.0981 9.80114 12.0986 9.8496 12.0532L10.7721 11.1884L10.8755 11.7778L10.8764 11.783C10.8772 11.7872 10.8782 11.7915 10.8796 11.7958C10.8988 11.8585 10.9708 11.8992 11.0408 11.8868L12.0215 11.7118C12.0915 11.6994 12.1326 11.6382 12.1133 11.5755L12.1132 11.5749Z" fill="white"/>
								<path opacity="0.69" d="M13.6942 16.0541C13.6451 16.041 13.5998 16.0127 13.5658 15.97C13.4818 15.8642 13.4992 15.7104 13.6051 15.6261C13.9085 15.385 14.1957 15.1288 14.4589 14.865C14.5543 14.7693 14.7092 14.7691 14.8049 14.8646C14.9007 14.96 14.9008 15.1148 14.8054 15.2106C14.5289 15.4877 14.2276 15.7564 13.9098 16.0092C13.8467 16.0594 13.7667 16.0733 13.6942 16.0541Z" fill="white"/>
								<path opacity="0.69" d="M15.2748 14.4804C15.2433 14.4721 15.2131 14.4573 15.1861 14.4356C15.0803 14.3516 15.0625 14.1977 15.1464 14.0919C17.377 11.2769 16.8981 8.29258 16.8929 8.26276C16.8702 8.12964 16.9596 8.00308 17.0929 7.98042C17.2263 7.95777 17.3526 8.04733 17.3753 8.18044C17.3974 8.31103 17.8948 11.4118 15.5298 14.3959C15.4673 14.4747 15.3662 14.5047 15.2748 14.4804Z" fill="white"/>
							</svg>
							span Свет и радость мы приносим людям
			.about__links
				.container 
					.wrapper
						a(href="index.html") 
							span Светодиодное освещение
							<svg width="36" height="14" viewBox="0 0 36 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M27.9474 0.303018C27.5173 0.717675 27.5173 1.38751 27.9474 1.80216L32.2259 5.9381L1.10272 5.9381C0.496225 5.9381 -3.49696e-07 6.41655 -3.22731e-07 7.00133C-2.95765e-07 7.5861 0.496225 8.06455 1.10272 8.06455L32.237 8.06455L27.9584 12.1899C27.5283 12.6045 27.5283 13.2743 27.9584 13.689C28.3885 14.1037 29.0832 14.1037 29.5132 13.689L35.6775 7.74558C36.1075 7.33093 36.1075 6.6611 35.6775 6.24644L29.5132 0.303018C29.0832 -0.101007 28.3774 -0.101007 27.9474 0.303018Z" fill="#8F8F8F"/>
							</svg>
						a(href="index_copy.html") 
							span Электротехническая продукция
							<svg width="36" height="14" viewBox="0 0 36 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M27.9474 0.303018C27.5173 0.717675 27.5173 1.38751 27.9474 1.80216L32.2259 5.9381L1.10272 5.9381C0.496225 5.9381 -3.49696e-07 6.41655 -3.22731e-07 7.00133C-2.95765e-07 7.5861 0.496225 8.06455 1.10272 8.06455L32.237 8.06455L27.9584 12.1899C27.5283 12.6045 27.5283 13.2743 27.9584 13.689C28.3885 14.1037 29.0832 14.1037 29.5132 13.689L35.6775 7.74558C36.1075 7.33093 36.1075 6.6611 35.6775 6.24644L29.5132 0.303018C29.0832 -0.101007 28.3774 -0.101007 27.9474 0.303018Z" fill="#8F8F8F"/>
							</svg>
			.about__principles 
				.container 
					h2 Принципы, которых<br>мы придерживаемся в работе
					ul 
						li
							.title Эффективность
							span Ищем лучшие решения, исходя из задачи.  Даже когда нужно качественно и не дорого.
						li
							.title Ответственность
							span Мы всегда берем на себя ответственность за результат.
						li
							.title Развитие
							span Всегда следим за новыми решениями и техникой. Обучаемся и внедряем в работу.
			.about__partners 
				.container 
					h2 Являемся официальным дистрибьютором<br>проектной светотехники IEK
					ul 
						li 
							a(href="" target="_blank") 
								img(src="img/about/diller1.svg", alt="")
						li 
							a(href="" target="_blank") 
								img(src="img/about/diller2.svg", alt="")
						li 
							a(href="" target="_blank") 
								img(src="img/about/diller3.svg", alt="")
			.about__gall
				.container
					.swiper-control 
						.swiper-button-prev.gall-prev
							<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.96743 12.9652L7.01165 13.9147L0 6.9569L7.01165 0L7.96792 0.949067L2 7L7.96743 12.9652Z" fill="#484949"/>
							</svg>
						.swiper-button-next.gall-next
							<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.97007 12.9652L1.92585 13.9147L8.9375 6.9569L1.92585 0L0.96958 0.949067L6.9375 7L0.97007 12.9652Z" fill="#484949"/>
							</svg>
					.about__gall-swiper.swiper
						.swiper-wrapper
							- for (let i = 1; i < 8; i++)				
								a(href="img/about/gal" + i + ".webp" data-fancybox="gall").swiper-slide 
									img(src="img/about/gal" + i + ".png", alt="")

