extends ../layout/main

block variables
	- const pageTitle = "Часто задаваемые вопросы";
	- const bodyClass = "not-front";

block content
	main 
		.FAQ 
			.FAQ__top
				include ../blocks/breadcrumbs.pug
				.FAQ__subtitle Мы собрали ответы на ваши часто задаваемые вопросы про продукцию, доставку, гарантию и т.д.
				a(href="#" data-popup="question").btn Задать вопрос
				.FAQ__img 
					img(src="img/FAQ/FAQ-bg.svg", alt="")
			.container
				a(href="#" data-popup="question").FAQ__fixed Задать вопрос
				.FAQ__body 
					.FAQ__block 
						h2 Продукция
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию? Как узнать цену на продукцию? Как узнать цену на продукцию? Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию? Как узнать цену на продукцию? Как узнать цену на продукцию? Как узнать цену на продукцию? Как узнать цену на продукцию? Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
					.FAQ__block 
						h2 Доставка
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
					.FAQ__block 
						h2 Оплата
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
						.FAQ__item 
							.FAQ__item-title
								.number /01
								span Как узнать цену на продукцию?
								img(src="img/icons/FAQ.svg", alt="")
							.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
		