extends ../layout/main

block variables
	- const pageTitle = "Главная";
	- const bodyClass = "front";

block content
	main 
		section.home-promo
			h1 Проектирование, поставка и монтаж светодиодного освещения для B2B и B2G
			.home-promo__subtitle Светодиодные светильники ведущих российских брендов FEREKS, IEK Lighting, LEDEL
			a.btn(href="#") Рассчитать стоимость
			.home-promo__img 
				img(src="img/index/promo.svg", alt="")
		section.home-links 
			.container 
				ul
					li 
						a(href="#")
							.home-links__title Каталог
							.home-links__descr Промышленное, офисное, уличное освещение.<br><br>Более 100 моделей светильников.
							.home-links__img
								img(src="img/index/cart1.svg", alt="")
					li 
						a(href="#")
							.home-links__title Услуги
							.home-links__descr Рассказываем подробно про весь цикл : от проектирования и выбора светильников до обслуживания и гарантии.
							.home-links__img
								img(src="img/index/cart2.svg", alt="")
					li 
						a(href="#")
							.home-links__title Проекты
							.home-links__descr Представляем кейсы в разных сферах бизнеса: от стадионов до складских помещений.
							.home-links__img
								img(src="img/index/cart3.svg", alt="")
					li 
						a(href="#")
							.home-links__title Вопрос—ответ
							.home-links__descr Мы собрали ответы на ваши часто задаваемые вопросы про продукцию, доставку, гарантию и т.д.
							.home-links__img
								img(src="img/index/cart4.svg", alt="")
		section.home-calc 
			.container 
				.wrapper 
					h2 Бесплатно приедем и проведем светотехнический расчет
					ul 
						li(value="1") Оставьте заявку на сайте — это займет меньше минуты
						li(value="2") Мы обсудим ваш проект, выберем время для встречи и проектирования
						li(value="3") Бесплатно проведем светотехнический расчет на объекте
					h3 Ваши контактные данные
					form(action="#")
						.form-item.name 
							input#homeName(type="text", name="" placeholder="Ваше имя*") 
						.form-item.phone 
							input#homePhone(type="tel", name="" placeholder="Телефон*")
						.form-item.submit 
							input(type="submit", value="Отправить" data-popup="thanks").btn
						.form-item.person 
							span Отправляя форму, вы даете согласие на&nbsp
							a(href="#" target="_blank") обработку персональных данных 
						.form-item.req 
							span *Поля обязательны к заполнению
		section.home-why 
			.container 
				h2 Вот почему нас выбирают и возвращаются
				ul 
					li
						.title Надежность
						.descr Являемся официальным дистрибьютором производителей FEREKS и IEK
						a(href="#" target="_blank").download Посмотреть дилерский сертификат
					li
						.title Точность
						.descr Бесплатное светотехническое проектирование на вашем объекте с использованием программного обеспечения
					li
						.title Качество
						.descr Высокая степень пылевлагозащиты IP и наличие клапана выравнивания давления у светодиодных светильников
						a(href="#" target="_blank") Подробнее
		section.home-info 
			.container 
				h2 Свет и радость мы приносим людям
				a.btn(href="#") Рассчитать стоимость
				.home-info__text "АЛЬЯНС ФЕРЕКС" - официальный дистрибьютор ведущего российского завода производителя светодиодных светильников ТМ "ФЕРЕКС".<br><br>Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой. В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.<br><br>Бренд "ФЕРЕКС" - один из самых крупных на рынке освещения. Решения от "ФЕРЕКС" внедрены во всех регионах России, в странах СНГ и Европы. "АЛЬЯНС ФЕРЕКС" - официальный дистрибьютор ведущего российского завода производителя светодиодных светильников ТМ "ФЕРЕКС".<br><br>Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой. В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.<br><br>Бренд "ФЕРЕКС" - один из самых крупных на рынке освещения. Решения от "ФЕРЕКС" внедрены во всех регионах России, в странах СНГ и Европы.
