extends ../layout/main

block append variables
	- const pageTitle = "Светодиодный светильник ДКУ";
	- const prevPage = {href: '/catalog.html', text: 'Каталог'};
	- const pageTitle_OFF = true;

block content
	main
		.product-page
			include ../blocks/breadcrumbs
			.product-page__top 
				.container 
					h2 Светодиодный светильник ДКУ
					.wrapper 
						.product-page__swipers 
							.subwrapper
								.product-page__subswiper.swiper(thumbsSlider="") 
									.swiper-wrapper 
										each val in [1, 2, 3, 4, 5, 6]
											.swiper-slide 
												img(src="img/product-page/prod-img.png", alt="")
								.swiper-control 
									.sub-prev
										<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M0.949544 7.96743L6.35897e-05 7.01165L6.95783 -3.04096e-07L13.9147 7.01165L12.9657 7.96792L6.91473 2L0.949544 7.96743Z" fill="#C9C9C9"/>
										</svg>
									.sub-next
										<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1.03487 0.000464826L0.0853914 0.956245L7.04316 7.9679L14.0001 0.956245L13.051 -2.4837e-05L7.00006 5.9679L1.03487 0.000464826Z" fill="#C9C9C9"/>
										</svg>
							.product-page__swiper.swiper 
								.swiper-wrapper 
									each val in [1, 2, 3, 4, 5, 6]
										.swiper-slide
											a(data-fancybox="gall" href="img/product-page/prod-img.webp") 
												img(src="img/product-page/prod-img.png", alt="")
						.product-page__info 
							h1 Светодиодный светильник ДКУ
							.product-page__art Артикул: 2000000076492
							.product-page__goto Смотреть модификации
							.product-page__price 
								h3.now 500 руб./м²
								h3.before 500 руб./м²
							a(data-popup="order-call" href="#").btn Заказать
							ul 
								li 
									.icon 
										img(src="img/icons/drive.svg", alt="")
									span Доставка по всей территории РФ
								li 
									.icon 
										img(src="img/icons/light.svg", alt="")
									span Официальный дистрибьютор
								li 
									.icon 
										img(src="img/icons/price.svg", alt="")
									span Высокая степень качества товара
							a(href="#" data-popup="order-call").product-page__help
								.circle 
									img(src="img/icons/question.svg", alt="")
									<svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M78.0491 42.535C77.6737 42.5103 77.3352 42.6219 77.0336 42.8698C76.7319 43.1178 76.5674 43.4505 76.54 43.8679C76.5128 44.2819 76.6326 44.6315 76.8992 44.9168C77.1659 45.2021 77.4869 45.3571 77.8622 45.3818C78.2446 45.4069 78.5866 45.2955 78.8883 45.0476C79.1899 44.7996 79.3543 44.4687 79.3815 44.0547C79.4089 43.6373 79.2893 43.2859 79.0226 43.0006C78.756 42.7153 78.4314 42.5601 78.0491 42.535Z" fill="#303030"/>
										<path d="M71.3386 54.2591C70.9793 55.0919 70.8317 55.7979 70.8958 56.3771C70.9598 56.9563 71.242 57.354 71.7422 57.5702C72.0875 57.7194 72.4071 57.733 72.7009 57.6111C72.9947 57.4891 73.2455 57.2585 73.4531 56.9193L73.4676 56.9256C73.4141 57.2893 73.4534 57.5974 73.5857 57.8498C73.7212 58.1037 73.9455 58.2983 74.2586 58.4336C74.6942 58.6219 75.1208 58.565 75.5383 58.2628C75.9544 57.9639 76.3373 57.4094 76.6868 56.5991C77.0308 55.8018 77.1564 55.1112 77.0638 54.5273C76.9697 53.9466 76.6571 53.5396 76.126 53.3063L76.0534 53.2749L75.4956 54.5677L75.5683 54.5991C75.8232 54.7093 75.9626 54.892 75.9864 55.1475C76.0088 55.4061 75.9351 55.7323 75.7652 56.1261C75.6036 56.5006 75.435 56.7494 75.2593 56.8727C75.0823 56.9991 74.8962 57.0221 74.7012 56.9417C74.5043 56.8566 74.3701 56.7373 74.2985 56.5838C74.2287 56.4349 74.2516 56.2265 74.3672 55.9586L74.8289 54.8885L73.9236 54.4973L73.4327 55.6352C73.2944 55.9469 73.143 56.1381 72.9786 56.2087C72.8141 56.2793 72.6334 56.2721 72.4366 56.187C72.2171 56.0922 72.0909 55.9189 72.0578 55.6671C72.0247 55.4154 72.1008 55.0749 72.286 54.6455C72.4754 54.2065 72.6802 53.9005 72.9003 53.7276C73.1223 53.5592 73.3591 53.5295 73.6108 53.6382L73.6807 53.6627L74.2363 52.3747L74.1637 52.3433C73.604 52.1053 73.0854 52.1492 72.6078 52.4752C72.1303 52.8012 71.7072 53.3958 71.3386 54.2591Z" fill="#303030"/>
										<path d="M71.4374 58.4471C70.9888 58.1378 70.5369 58.0503 70.0815 58.1847C69.6271 58.324 69.2205 58.6543 68.8617 59.1756C68.5547 59.6215 68.3708 60.0499 68.31 60.4606C68.252 60.8733 68.2773 61.2025 68.3857 61.448C68.2417 61.3658 68.1014 61.2968 67.9648 61.2411C67.831 61.1873 67.7116 61.1562 67.6065 61.1477L66.7632 62.3726L66.8283 62.4176C66.9822 62.4297 67.1521 62.4743 67.3381 62.5513C67.527 62.6303 67.7112 62.7317 67.8906 62.8554L70.096 64.3762C70.614 64.7335 71.1158 64.8168 71.6012 64.6263C72.0895 64.4378 72.5729 63.996 73.0513 63.301C73.5198 62.6205 73.7584 61.9886 73.7672 61.4054C73.7761 60.8221 73.562 60.3798 73.125 60.0785L72.9904 59.9857L72.18 61.1628L72.2929 61.2406C72.4955 61.3804 72.5974 61.5702 72.5987 61.8102C72.6008 62.0551 72.4942 62.3339 72.2789 62.6467C72.0437 62.9884 71.8246 63.1981 71.6216 63.276C71.4187 63.3538 71.2159 63.3229 71.0133 63.1832L70.5358 62.8539L71.4953 61.4785C71.9388 60.8406 72.1572 60.2567 72.1506 59.7269C72.144 59.197 71.9063 58.7705 71.4374 58.4471ZM70.662 59.7316C70.8935 59.8913 71.0011 60.0978 70.9845 60.3512C70.9689 60.6095 70.8381 60.9143 70.592 61.2656L69.8251 62.3702L69.3867 62.0679C69.1204 61.8842 68.9946 61.5989 69.0092 61.2118C69.0239 60.8248 69.1448 60.4662 69.3721 60.1361C69.5794 59.8349 69.7898 59.6533 70.0032 59.5912C70.2196 59.5312 70.4391 59.578 70.662 59.7316Z" fill="#303030"/>
										<path d="M61.8814 65.2657L60.853 66.2656L62.6563 68.1237L67.5074 63.4074L65.7041 61.5494L64.6719 62.5529L65.6562 63.5671L62.8657 66.2799L61.8814 65.2657ZM68.0316 67.3474L66.5684 68.77L63.5421 65.6518L62.4645 66.6994L66.3098 70.6615L69.7581 67.3091L68.0818 65.4379C67.7175 65.0272 67.4517 64.6776 67.2844 64.3892C67.1146 64.1031 67.0101 63.8517 66.971 63.6347L65.9615 64.6162C66.0062 64.7884 66.116 65.0126 66.2909 65.2888C66.4633 65.5674 66.7109 65.8881 67.0337 66.251L68.0316 67.3474Z" fill="#303030"/>
										<path d="M62.8368 68.526C62.5411 68.0683 62.1572 67.8142 61.6851 67.7638C61.212 67.7182 60.7099 67.8673 60.1786 68.2112C59.7241 68.5053 59.39 68.8304 59.1763 69.1864C58.9646 69.5454 58.8617 69.8591 58.8677 70.1274C58.7662 69.9963 58.6631 69.8788 58.5583 69.7749C58.4554 69.674 58.357 69.5994 58.2631 69.5513L57.0147 70.3593L57.0576 70.4257C57.195 70.4959 57.3349 70.6022 57.4771 70.7447C57.6213 70.8901 57.7525 71.0543 57.8708 71.2374L59.3245 73.4876C59.666 74.0161 60.0975 74.2855 60.6188 74.2956C61.1421 74.3087 61.7579 74.0861 62.4663 73.6276C63.1599 73.1788 63.6226 72.6867 63.8543 72.1514C64.0861 71.6162 64.058 71.1256 63.7699 70.6797L63.6812 70.5424L62.4814 71.3188L62.5558 71.434C62.6894 71.6407 62.7107 71.8551 62.6198 72.0773C62.5279 72.3043 62.3226 72.5209 62.0038 72.7272C61.6556 72.9526 61.3728 73.0623 61.1555 73.0564C60.9382 73.0504 60.7628 72.9441 60.6292 72.7374L60.3144 72.2502L61.728 71.3479C62.3822 70.9287 62.8078 70.4732 63.0048 69.9813C63.2019 69.4895 63.1459 69.0044 62.8368 68.526ZM61.6281 69.415C61.7808 69.6513 61.8009 69.8832 61.6885 70.1109C61.575 70.3435 61.3373 70.5748 60.9753 70.8048L59.8435 71.531L59.5545 71.0837C59.379 70.812 59.3722 70.5002 59.5341 70.1484C59.696 69.7965 59.9452 69.5117 60.2817 69.2939C60.5887 69.0953 60.8526 69.0082 61.0735 69.0327C61.2964 69.0602 61.4812 69.1876 61.6281 69.415Z" fill="#303030"/>
										<path d="M56.2861 70.7344L54.8452 71.3066L54.0547 75.0079C54.0131 75.1795 53.9847 75.2986 53.9695 75.3651C53.9555 75.435 53.9373 75.5368 53.9147 75.6706L53.9245 75.6667C53.8778 75.549 53.8383 75.4494 53.8059 75.3677C53.7749 75.2892 53.7386 75.1977 53.6971 75.0931L52.5564 72.2155L51.1448 72.776L53.1873 77.9283L54.6233 77.3581L55.4265 73.6744C55.4649 73.5041 55.4907 73.3785 55.504 73.2976C55.514 73.2179 55.5277 73.1141 55.5451 72.9862L55.5647 72.9784C55.6035 73.0954 55.6381 73.197 55.6685 73.2833C55.7002 73.3728 55.7381 73.4732 55.7822 73.5843L56.9171 76.4472L58.3286 75.8867L56.2861 70.7344ZM56.353 78.4301C56.6046 78.3302 56.8305 78.3181 57.0307 78.3937C57.2308 78.4693 57.4366 78.6164 57.6481 78.8351L58.4161 78.0535C58.0726 77.683 57.6947 77.4548 57.2824 77.3688C56.8702 77.2829 56.4386 77.3295 55.9877 77.5085C55.54 77.6863 55.1992 77.9427 54.9652 78.2777C54.7292 78.6173 54.6068 79.0479 54.5981 79.5696L55.6905 79.6351C55.6843 79.3047 55.7311 79.0459 55.8309 78.8588C55.9307 78.6716 56.1047 78.5287 56.353 78.4301Z" fill="#303030"/>
										<path d="M51.6713 77.145L49.782 77.5131L48.9483 73.227L47.4731 73.5145L48.3069 77.8006L46.4176 78.1687L46.6422 79.3231L51.8959 78.2993L51.6713 77.145Z" fill="#303030"/>
										<path d="M45.4156 76.6752C45.4088 75.7963 45.1204 75.0989 44.5504 74.583C43.9769 74.0671 43.2085 73.8129 42.2452 73.8203C41.5175 73.826 40.9242 73.9413 40.4654 74.1663C40.0031 74.3914 39.6767 74.6892 39.4862 75.0599L40.6137 75.6154C40.7565 75.4385 40.961 75.2823 41.2271 75.1466C41.4933 75.0145 41.8373 74.9468 42.2592 74.9435C42.7795 74.9395 43.1902 75.0892 43.4914 75.3928C43.7891 75.6999 43.94 76.1188 43.9441 76.6497L43.946 76.9081C43.9498 77.3932 43.8157 77.7898 43.5439 78.0977C43.2685 78.4092 42.883 78.5669 42.3873 78.5707C41.8178 78.5751 41.4284 78.4569 41.2191 78.2159C41.0063 77.975 40.8984 77.6594 40.8954 77.2691L40.8958 77.3166L44.5344 77.2885L44.5275 76.3973L39.4177 76.4368L39.4215 76.9325C39.4281 77.7832 39.6916 78.4545 40.2122 78.9462C40.7294 79.4414 41.4414 79.6855 42.3484 79.6785C43.2589 79.6715 44.0005 79.4038 44.573 78.8755C45.142 78.3473 45.4231 77.6543 45.4165 76.7965L45.4156 76.6752Z" fill="#303030"/>
										<path d="M35.9478 73.5244L32.5486 72.5608C31.9364 72.3872 31.4552 72.3897 31.1051 72.5681C30.7516 72.7457 30.5131 73.0526 30.3896 73.489C30.2814 73.8712 30.304 74.2047 30.4573 74.4893C30.6072 74.773 30.8327 74.9831 31.1339 75.1196L31.1296 75.1348C30.8181 75.1379 30.5504 75.2191 30.3262 75.3785C30.1021 75.5378 29.9412 75.79 29.8436 76.1351C29.722 76.5647 29.7632 76.929 29.9672 77.228C30.1713 77.527 30.5777 77.7628 31.1865 77.9354L34.4386 78.8574L35.9478 73.5244ZM33.6384 76.2626L33.2779 77.5362L31.7965 77.1162C31.5732 77.053 31.4257 76.9545 31.3539 76.8209C31.2812 76.6906 31.274 76.5223 31.3324 76.316C31.3946 76.0961 31.4918 75.9464 31.6239 75.8669C31.7526 75.7865 31.9303 75.7784 32.1569 75.8426L33.6384 76.2626ZM34.2659 74.0452L33.8796 75.4101L32.2865 74.9585C32.0531 74.8924 31.8935 74.785 31.8077 74.6364C31.7219 74.4879 31.7127 74.3007 31.7802 74.075C31.8463 73.8416 31.956 73.6864 32.1094 73.6092C32.2618 73.5355 32.4496 73.5303 32.6728 73.5936L34.2659 74.0452Z" fill="#303030"/>
										<path d="M28.9636 74.3076C29.3617 73.5319 29.4224 72.7784 29.1457 72.0472C28.8642 71.3174 28.3076 70.7388 27.476 70.3112C26.6412 69.882 25.8486 69.7671 25.0982 69.9664C24.3432 70.1672 23.7666 70.6554 23.3685 71.4311L23.3107 71.5437C22.9206 72.3037 22.864 73.0494 23.1407 73.7807C23.4127 74.5134 23.9661 75.0944 24.8009 75.5236C25.6326 75.9512 26.4283 76.0638 27.1881 75.8615C27.9432 75.6607 28.5157 75.1802 28.9058 74.4202L28.9636 74.3076ZM27.529 73.742C27.293 74.2018 26.9818 74.5003 26.5952 74.6376C26.2055 74.7732 25.784 74.7245 25.3306 74.4914C24.8741 74.2568 24.589 73.9422 24.4753 73.5477C24.3616 73.1533 24.4228 72.7262 24.6587 72.2664L24.7454 72.0975C24.983 71.6346 25.2959 71.3329 25.6841 71.1925C26.0722 71.0521 26.4946 71.0993 26.9511 71.334C27.4075 71.5686 27.6918 71.8848 27.8039 72.2824C27.916 72.6799 27.8541 73.1086 27.6181 73.5684L27.529 73.742Z" fill="#303030"/>
										<path d="M20.8734 73.118L24.3249 68.7814L23.1497 67.8445L20.4306 71.2609L18.5627 69.7717L21.2818 66.3553L20.1067 65.4184L16.6552 69.7549L20.8734 73.118Z" fill="#303030"/>
										<path d="M21.1368 63.4644L20.183 62.3098L18.067 64.054C18.1066 63.8204 18.0695 63.5271 17.9557 63.1741C17.8392 62.8233 17.6366 62.4731 17.3477 62.1234C16.8619 61.5353 16.2689 61.2205 15.569 61.1791C14.8668 61.135 14.1785 61.392 13.5041 61.9501L13.4066 62.0308C12.7376 62.5844 12.3603 63.2069 12.2748 63.8983C12.187 64.587 12.3984 65.2403 12.9089 65.8582C13.2045 66.216 13.5216 66.4784 13.8602 66.6454C14.1938 66.8119 14.4864 66.8846 14.738 66.8635L14.7448 66.8717L14.2632 67.2907L15.1768 68.3965L21.1368 63.4644ZM17.1441 64.8246L15.5677 66.1291C15.3565 66.1715 15.1056 66.1327 14.815 66.0127C14.5243 65.8927 14.2648 65.6945 14.0364 65.418C13.714 65.0278 13.5852 64.6483 13.6501 64.2798C13.715 63.9112 13.9506 63.5588 14.3569 63.2226L14.495 63.1083C14.9148 62.7609 15.3155 62.589 15.6971 62.5927C16.0764 62.5937 16.4261 62.788 16.7463 63.1756C16.9814 63.4602 17.1264 63.76 17.1814 64.0749C17.2342 64.3872 17.2217 64.6371 17.1441 64.8246Z" fill="#303030"/>
										<path d="M12.6638 60.7377C13.4377 60.3362 13.9238 59.7573 14.122 59.001C14.3155 58.2431 14.1972 57.449 13.7671 56.6186C13.3355 55.7851 12.7561 55.2322 12.0291 54.9598C11.2974 54.6859 10.5445 54.7498 9.77059 55.1513L9.65825 55.2095C8.89993 55.603 8.42167 56.1778 8.22346 56.9342C8.02051 57.689 8.13488 58.4832 8.56656 59.3167C8.99663 60.1471 9.5799 60.7 10.3164 60.9753C11.0481 61.2492 11.7932 61.1894 12.5515 60.796L12.6638 60.7377ZM11.8224 59.4455C11.3636 59.6835 10.9369 59.7464 10.5424 59.6343C10.1461 59.519 9.83081 59.2351 9.59638 58.7824C9.36033 58.3266 9.31026 57.9051 9.44617 57.5177C9.58208 57.1303 9.87941 56.8177 10.3381 56.5797L10.5067 56.4922C10.9685 56.2526 11.3983 56.1881 11.796 56.2986C12.1937 56.4091 12.5106 56.6923 12.7467 57.148C12.9827 57.6038 13.0312 58.0262 12.8922 58.4152C12.7532 58.8042 12.4543 59.1176 11.9955 59.3556L11.8224 59.4455Z" fill="#303030"/>
										<path d="M9.56074 54.6372C10.4257 54.3884 11.025 53.9216 11.3587 53.2366C11.6925 52.5517 11.7288 51.7548 11.4679 50.8458C11.2234 49.9942 10.8474 49.3854 10.34 49.0192C9.82816 48.6506 9.27974 48.5431 8.69473 48.6967L8.58685 48.7222L8.98847 50.1212L9.06956 50.0979C9.36304 50.0244 9.62457 50.0754 9.85415 50.2508C10.0837 50.4262 10.2592 50.7251 10.3804 51.1475C10.525 51.651 10.491 52.0742 10.2785 52.417C10.0617 52.7573 9.69646 53.0014 9.1829 53.1491L8.99539 53.203C8.48183 53.3507 8.04531 53.3335 7.68583 53.1516C7.32538 52.9663 7.07434 52.6269 6.9327 52.1336C6.81629 51.7281 6.80765 51.3922 6.90677 51.1259C7.00251 50.8606 7.19106 50.6765 7.47243 50.5736L7.55713 50.5438L7.1526 49.1347L7.02228 49.1776C6.44941 49.3863 6.04915 49.7758 5.82151 50.3461C5.58952 50.9139 5.59527 51.622 5.83876 52.4701C6.09778 53.3723 6.55082 54.0267 7.19789 54.4332C7.84399 54.8364 8.59106 54.916 9.43911 54.6721L9.56074 54.6372Z" fill="#303030"/>
										<path d="M5.95014 41.6372C6.3256 41.6604 6.66369 41.5474 6.96441 41.2983C7.26513 41.0492 7.42841 40.7158 7.45424 40.2983C7.47986 39.8842 7.3588 39.5351 7.09108 39.2508C6.82335 38.9666 6.50176 38.8129 6.1263 38.7897C5.74383 38.7661 5.40223 38.8788 5.10151 39.128C4.80078 39.3771 4.63761 39.7087 4.612 40.1227C4.58617 40.5403 4.70711 40.8912 4.97484 41.1754C5.24257 41.4597 5.56767 41.6136 5.95014 41.6372Z" fill="#303030"/>
										<path d="M12.5606 30.0145C12.9137 29.179 13.056 28.4719 12.9876 27.8932C12.9192 27.3145 12.6341 26.919 12.1323 26.7065C11.7859 26.5599 11.4662 26.5486 11.1733 26.6728C10.8804 26.7969 10.6314 27.0294 10.4263 27.3701L10.4117 27.364C10.4625 26.9999 10.4209 26.6921 10.2867 26.4406C10.1493 26.1877 9.92358 25.9948 9.60954 25.8619C9.17248 25.6769 8.74633 25.737 8.33108 26.0422C7.91721 26.3442 7.53852 26.9016 7.19503 27.7145C6.857 28.5143 6.73651 29.2059 6.83356 29.7891C6.93197 30.369 7.24759 30.7737 7.7804 31.003L7.85324 31.0339L8.40133 29.7369L8.32849 29.7061C8.07273 29.5978 7.93199 29.4161 7.90626 29.1609C7.8819 28.9024 7.9532 28.5756 8.12016 28.1805C8.27891 27.8049 8.44566 27.5548 8.62042 27.4303C8.79655 27.3025 8.98243 27.2781 9.17805 27.3571C9.37553 27.4407 9.51065 27.559 9.58341 27.712C9.6543 27.8603 9.63295 28.0689 9.51936 28.3377L9.0657 29.4112L9.97381 29.7956L10.4562 28.6541C10.5922 28.3413 10.7422 28.149 10.9061 28.0772C11.0701 28.0053 11.2508 28.0112 11.4483 28.0948C11.6684 28.188 11.796 28.3604 11.8309 28.6118C11.8658 28.8633 11.7923 29.2044 11.6103 29.6351C11.4242 30.0755 11.2217 30.383 11.0029 30.5576C10.7822 30.7276 10.5456 30.7592 10.2931 30.6523L10.223 30.6284L9.67698 31.9205L9.74982 31.9513C10.3113 32.1852 10.8296 32.1373 11.3047 31.8078C11.7798 31.4783 12.1984 30.8805 12.5606 30.0145Z" fill="#303030"/>
										<path d="M12.3748 25.8944C12.8256 26.2004 13.2782 26.2846 13.7326 26.1469C14.1859 26.0042 14.5901 25.671 14.9451 25.1471C15.2489 24.6989 15.4296 24.2693 15.4874 23.8581C15.5423 23.4449 15.5147 23.116 15.4045 22.8712C15.5491 22.9524 15.6899 23.0204 15.8269 23.0751C15.961 23.1279 16.0807 23.1581 16.1859 23.1658L17.0201 21.9348L16.9547 21.8903C16.8008 21.8793 16.6305 21.836 16.444 21.7604C16.2545 21.6827 16.0696 21.5827 15.8893 21.4603L13.6728 19.9557C13.1522 19.6022 12.6498 19.5225 12.1658 19.7166C11.6789 19.9087 11.1988 20.354 10.7254 21.0525C10.262 21.7364 10.0279 22.37 10.0234 22.9533C10.0188 23.5366 10.2361 23.9773 10.6753 24.2754L10.8106 24.3673L11.6123 23.1842L11.4989 23.1072C11.2953 22.969 11.192 22.7799 11.189 22.5399C11.185 22.295 11.2896 22.0154 11.5026 21.7011C11.7353 21.3577 11.9528 21.1463 12.1552 21.067C12.3576 20.9877 12.5606 21.0172 12.7642 21.1554L13.2442 21.4812L12.2947 22.8635C11.8559 23.5047 11.6418 24.0902 11.6523 24.6199C11.6627 25.1497 11.9036 25.5745 12.3748 25.8944ZM13.1408 24.6042C12.9081 24.4463 12.7991 24.2405 12.8137 23.987C12.8274 23.7287 12.9561 23.4229 13.1996 23.0698L13.9583 21.9596L14.399 22.2588C14.6666 22.4404 14.7945 22.7248 14.7827 23.112C14.7709 23.4991 14.6526 23.8586 14.4277 24.1904C14.2226 24.4931 14.0136 24.6762 13.8006 24.7398C13.5847 24.8015 13.3648 24.7563 13.1408 24.6042Z" fill="#303030"/>
										<path d="M21.8538 18.9975L22.8749 17.9902L21.0582 16.1453L16.2415 20.8967L18.0582 22.7416L19.0831 21.7306L18.0915 20.7236L20.8622 17.9905L21.8538 18.9975ZM15.6886 16.9606L17.1415 15.5274L20.1904 18.6236L21.2603 17.5681L17.3864 13.634L13.9625 17.0115L15.6524 18.8704C16.0197 19.2784 16.288 19.6261 16.4574 19.9133C16.6292 20.1981 16.7355 20.4488 16.7762 20.6655L17.7786 19.6767C17.7326 19.5048 17.6212 19.2814 17.4442 19.0065C17.2698 18.7292 17.0199 18.4103 16.6945 18.0498L15.6886 16.9606Z" fill="#303030"/>
										<path d="M20.8658 15.7199C21.1649 16.1754 21.5506 16.4267 22.0231 16.4736C22.4965 16.5157 22.9976 16.3629 23.5263 16.0152C23.9786 15.7177 24.3103 15.3902 24.5214 15.0326C24.7305 14.6721 24.8311 14.3577 24.8231 14.0894C24.9256 14.2198 25.0296 14.3365 25.1351 14.4396C25.2387 14.5398 25.3376 14.6136 25.4319 14.6611L26.6744 13.8439L26.6309 13.7778C26.493 13.7086 26.3524 13.6033 26.2091 13.4619C26.0639 13.3176 25.9314 13.1543 25.8118 12.9721L24.3416 10.7327C23.9963 10.2066 23.5629 9.94043 23.0414 9.93411C22.5181 9.92484 21.9039 10.152 21.1989 10.6156C20.5087 11.0696 20.0496 11.565 19.8217 12.102C19.5939 12.639 19.6256 13.1293 19.917 13.5731L20.0067 13.7097L21.2007 12.9245L21.1255 12.8099C20.9904 12.6042 20.9675 12.3899 21.0568 12.1671C21.147 11.9394 21.3508 11.7213 21.668 11.5127C22.0146 11.2847 22.2966 11.1729 22.5139 11.1773C22.7312 11.1816 22.9074 11.2867 23.0425 11.4924L23.3608 11.9773L21.9539 12.8899C21.3029 13.3139 20.8806 13.7725 20.6872 14.2658C20.4937 14.7591 20.5533 15.2438 20.8658 15.7199ZM22.068 14.822C21.9136 14.5869 21.8918 14.3551 22.0025 14.1266C22.1143 13.8932 22.3503 13.6602 22.7106 13.4274L23.837 12.693L24.1293 13.1382C24.3068 13.4086 24.3159 13.7203 24.1565 14.0733C23.9972 14.4264 23.7501 14.713 23.4152 14.9332C23.1098 15.1341 22.8465 15.2231 22.6254 15.2002C22.4023 15.1744 22.2165 15.0483 22.068 14.822Z" fill="#303030"/>
										<path d="M27.2795 13.486L28.7161 12.903L29.4788 9.19592C29.5192 9.02399 29.5467 8.90469 29.5614 8.83801C29.5748 8.76808 29.5923 8.66613 29.6139 8.53216L29.6042 8.53613C29.6517 8.65343 29.6919 8.75281 29.7249 8.83427C29.7566 8.91247 29.7936 9.00371 29.8358 9.10798L30.998 11.977L32.4053 11.4059L30.3244 6.26904L28.8927 6.85003L28.1171 10.5396C28.08 10.7102 28.0551 10.836 28.0424 10.917C28.033 10.9967 28.0201 11.1006 28.0037 11.2287L27.9841 11.2366C27.9444 11.1199 27.9091 11.0186 27.878 10.9325C27.8456 10.8432 27.807 10.7432 27.7621 10.6324L26.6058 7.77804L25.1985 8.34911L27.2795 13.486ZM27.155 5.79094C26.9042 5.89273 26.6784 5.90657 26.4777 5.83246C26.277 5.75835 26.0701 5.61278 25.857 5.39573L25.0949 6.18304C25.4411 6.55093 25.8207 6.7763 26.2336 6.85916C26.6465 6.94202 27.0777 6.89224 27.5272 6.70981C27.9735 6.52871 28.3124 6.26977 28.5439 5.933C28.7774 5.59166 28.8965 5.16011 28.9014 4.63835L27.8085 4.58103C27.8172 4.91139 27.7723 5.17052 27.6739 5.35841C27.5756 5.54629 27.4026 5.69047 27.155 5.79094Z" fill="#303030"/>
										<path d="M31.8765 6.99017L33.7629 6.60758L34.6294 10.8872L36.1023 10.5884L35.2358 6.30884L37.1222 5.92625L36.8889 4.77366L31.6431 5.83758L31.8765 6.99017Z" fill="#303030"/>
										<path d="M38.2772 7.37553C38.2908 8.25433 38.5845 8.94948 39.1585 9.46098C39.736 9.97242 40.5063 10.2207 41.4695 10.2058C42.1971 10.1945 42.7895 10.0746 43.2466 9.84604C43.7071 9.6174 44.0313 9.31704 44.2189 8.94495L43.0871 8.39814C42.9457 8.57613 42.7424 8.73398 42.4773 8.87169C42.2122 9.00588 41.8687 9.07624 41.4469 9.08277C40.9266 9.09081 40.5148 8.94424 40.2112 8.64303C39.9112 8.33826 39.7571 7.92048 39.7489 7.38968L39.7449 7.13132C39.7374 6.64622 39.8684 6.24864 40.1379 5.93857C40.4108 5.62494 40.7951 5.46429 41.2908 5.45662C41.8602 5.44781 42.2505 5.56308 42.4617 5.80242C42.6763 6.04171 42.7867 6.35644 42.7927 6.74663L42.7919 6.69918L39.1537 6.75545L39.1674 7.64656L44.2768 7.56753L44.2692 7.07188C44.256 6.2212 43.9873 5.55204 43.4629 5.06438C42.942 4.57316 42.2281 4.33457 41.3212 4.3486C40.4107 4.36268 39.6713 4.63606 39.1029 5.16875C38.538 5.70138 38.2621 6.39655 38.2754 7.25426L38.2772 7.37553Z" fill="#303030"/>
										<path d="M47.7164 10.4265L51.1228 11.3643C51.7363 11.5332 52.2174 11.5271 52.5662 11.346C52.9183 11.1658 53.1545 10.857 53.2747 10.4197C53.38 10.0367 53.3549 9.70343 53.1994 9.41997C53.0474 9.13744 52.8203 8.92906 52.5181 8.79482L52.5223 8.77956C52.8337 8.77413 53.1008 8.69089 53.3238 8.52983C53.5467 8.36877 53.7056 8.11535 53.8007 7.76958C53.919 7.33905 53.875 6.97507 53.6687 6.67761C53.4624 6.38016 53.0543 6.14744 52.4441 5.97948L49.1851 5.08224L47.7164 10.4265ZM50.005 7.67084L50.3558 6.39454L51.8404 6.80326C52.0641 6.86485 52.2123 6.96218 52.2851 7.09527C52.3589 7.22496 52.3673 7.3932 52.3105 7.59998C52.2499 7.82033 52.1539 7.97074 52.0224 8.05123C51.8943 8.13264 51.7167 8.14209 51.4896 8.07957L50.005 7.67084ZM49.3943 9.89294L49.7702 8.52511L51.3667 8.96463C51.6006 9.02901 51.761 9.13517 51.8479 9.28308C51.9349 9.431 51.9455 9.61806 51.8797 9.84425C51.8154 10.0782 51.7068 10.2342 51.5541 10.3125C51.4022 10.3874 51.2145 10.3941 50.9908 10.3325L49.3943 9.89294Z" fill="#303030"/>
										<path d="M54.7203 9.57972C54.328 10.3583 54.2729 11.1122 54.555 11.8414C54.8419 12.569 55.4027 13.1436 56.2375 13.565C57.0755 13.9879 57.8689 14.097 58.6178 13.8922C59.3713 13.6858 59.9443 13.1932 60.3366 12.4146L60.3936 12.3016C60.778 11.5387 60.8291 10.7926 60.547 10.0635C60.2696 9.33272 59.7119 8.75586 58.874 8.33288C58.0391 7.91148 57.2426 7.80476 56.4843 8.01272C55.7307 8.21912 55.1617 8.70378 54.7773 9.46669L54.7203 9.57972ZM56.1591 10.1346C56.3916 9.67313 56.7007 9.37231 57.0862 9.23218C57.4749 9.09364 57.8968 9.13922 58.3519 9.36893C58.8101 9.60022 59.0975 9.91267 59.2141 10.3063C59.3307 10.6999 59.2728 11.1274 59.0402 11.5889L58.9548 11.7585C58.7206 12.2231 58.41 12.5271 58.0229 12.6704C57.6357 12.8136 57.2131 12.7696 56.7548 12.5383C56.2966 12.307 56.01 11.993 55.895 11.5963C55.78 11.1995 55.8387 10.7704 56.0713 10.3089L56.1591 10.1346Z" fill="#303030"/>
										<path d="M62.8915 10.7435L59.4717 15.1051L60.6536 16.0334L63.3478 12.5973L65.2265 14.0728L62.5323 17.509L63.7142 18.4373L67.134 14.0758L62.8915 10.7435Z" fill="#303030"/>
										<path d="M62.6191 20.3011L63.5814 21.4488L65.6846 19.6893C65.6467 19.9231 65.6859 20.2161 65.8023 20.5683C65.9213 20.9183 66.1265 21.267 66.4179 21.6145C66.908 22.1991 67.5032 22.5096 68.2035 22.5459C68.9059 22.5848 69.5924 22.3228 70.2627 21.7598L70.3596 21.6784C71.0246 21.12 71.3973 20.4948 71.4778 19.8028C71.5605 19.1135 71.3444 18.4617 70.8294 17.8475C70.5312 17.4919 70.2123 17.2318 69.8725 17.0673C69.5376 16.9032 69.2445 16.8326 68.993 16.8556L68.9862 16.8475L69.4647 16.425L68.5431 15.3258L62.6191 20.3011ZM66.6019 18.912L68.1687 17.5961C68.3796 17.5521 68.6308 17.589 68.9223 17.7069C69.2138 17.8248 69.4747 18.0211 69.7051 18.2959C70.0304 18.6838 70.1619 19.0623 70.0997 19.4314C70.0375 19.8004 69.8045 20.1545 69.4007 20.4936L69.2634 20.6089C68.8461 20.9594 68.4467 21.1342 68.0651 21.1332C67.6858 21.135 67.3347 20.9433 67.0117 20.558C66.7745 20.2752 66.6273 19.9764 66.57 19.6619C66.515 19.35 66.5256 19.1 66.6019 18.912Z" fill="#303030"/>
										<path d="M71.1778 23.0296C70.4069 23.4368 69.9251 24.0193 69.7325 24.7771C69.5446 25.5364 69.6688 26.3296 70.105 27.1568C70.5428 27.9871 71.1263 28.5357 71.8553 28.8027C72.589 29.0711 73.3413 29.0018 74.1123 28.5945L74.2242 28.5354C74.9796 28.1364 75.4536 27.558 75.6462 26.8002C75.8435 26.0439 75.7233 25.2506 75.2855 24.4203C74.8493 23.5931 74.2619 23.0446 73.5234 22.7746C72.7897 22.5062 72.0451 22.5715 71.2897 22.9705L71.1778 23.0296ZM72.0288 24.3156C72.4858 24.0742 72.912 24.0081 73.3074 24.1173C73.7044 24.2296 74.0218 24.5113 74.2596 24.9622C74.499 25.4162 74.5522 25.8374 74.4192 26.2257C74.2861 26.6141 73.9911 26.929 73.5342 27.1704L73.3663 27.259C72.9062 27.502 72.4769 27.5698 72.0784 27.4622C71.6799 27.3546 71.3609 27.0739 71.1215 26.6198C70.8821 26.1658 70.8305 25.7438 70.9666 25.3538C71.1028 24.9638 71.3993 24.6481 71.8563 24.4067L72.0288 24.3156Z" fill="#303030"/>
										<path d="M74.336 29.1146C73.473 29.3699 72.8772 29.8412 72.5487 30.5287C72.2201 31.2161 72.1898 32.0133 72.4576 32.9203C72.7085 33.77 73.0891 34.376 73.5993 34.7383C74.1139 35.1031 74.6631 35.2064 75.2469 35.0484L75.3546 35.022L74.9424 33.6261L74.8615 33.6501C74.5686 33.7257 74.3067 33.6767 74.0758 33.503C73.8449 33.3294 73.6672 33.0318 73.5428 32.6103C73.3944 32.108 73.4252 31.6846 73.6351 31.3402C73.8493 30.9982 74.2127 30.7514 74.7251 30.5998L74.9122 30.5445C75.4246 30.3929 75.8613 30.4067 76.2221 30.5859C76.5839 30.7685 76.8375 31.106 76.9829 31.5982C77.1024 32.0028 77.1136 32.3386 77.0165 32.6057C76.9227 32.8717 76.7356 33.0572 76.455 33.1622L76.3705 33.1927L76.7857 34.5987L76.9157 34.5547C77.487 34.3418 77.8843 33.9493 78.1076 33.3773C78.3353 32.8076 78.3242 32.0997 78.0743 31.2534C77.8084 30.3531 77.3504 29.7022 76.7003 29.3006C76.0512 28.9024 75.3036 28.8284 74.4574 29.0787L74.336 29.1146Z" fill="#303030"/>
									</svg>
								.wrap
									span Служба поддержки
									span Нужна помощь?
			.product-page__bottom 
				.product-page__nav 
					.container 
						ul
							li(toView='.product-page__descr') Описание
							li(toView='.char1') Характеристики
							li(toView='.product-page__files') Файлы
							li(toView='.char2') Эксплуатационные параметры
							li(toView='.product-page__mods') Модификации
					span
				.product-page__descr(theView="")
					.container 
						h3 Описание
						p Предназначен для общего освещения улиц, дорог, площадей, кварталов и наружного освещения различных объектов.<br><br>В конструкции светильника предусмотрена замена драйвера без отключения светильника от сети электроснабжения. Светильник оснащен универсальным разъемом установки внешних датчиков NEMA LC-10R-2.<br><br>Светильник серии «FLA» прошел испытания на устойчивость к повышенным и пониженным температурам (от -60 до +50°С), на защиту от проникновения пыли в камере пыли и от проникновения влаги в дождевой камере и при обливании сильной струей воды, а также на прочность при воздействии механических ударов многократного действия. Степень защиты оборудования от внешних воздействий – IP66 гарантирует стабильную работу светильников «FLA» в самых жестких условиях эксплуатации.
				.product-page__char.char1(theView="")
					.container 
						h3 Характеристики
						ul 
							li 
								span Мощность
								span 300Вт
							li 
								span Сеть
								span 220В 50Гц
							li 
								span Мощность
								span 300Вт
							li 
								span Сеть
								span 220В 50Гц
							li 
								span Мощность
								span 300Вт
							li 
								span Сеть
								span 220В 50Гц
				.product-page__files(theView="")
					.container 
						h3 Файлы
						ul 
							each val in [1, 2, 3, 4, 5]
								li
									.acc-title Сертификаты
									.acc-body
										ul 
											li 
												a(href="#" target="_blank") 
													<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_245_11330)">
															<path d="M15.2411 4.79244L10.6043 0.155623C10.5047 0.0559805 10.3696 0 10.2287 0H3.30401C2.36622 0 1.60328 0.762941 1.60328 1.70073V15.2993C1.60328 16.2371 2.36622 17 3.30401 17H13.696C14.6337 17 15.3967 16.2371 15.3967 15.2993V5.16807C15.3967 5.02719 15.3407 4.89205 15.2411 4.79244ZM10.7599 1.81382L13.5829 4.63685H10.7599V1.81382ZM13.696 15.9375H3.30401C2.95209 15.9375 2.66578 15.6512 2.66578 15.2993V1.70073C2.66578 1.34881 2.95209 1.0625 3.30401 1.0625H9.6974V5.16807C9.6974 5.46145 9.93527 5.69932 10.2287 5.69932H14.3342V15.2993C14.3342 15.6512 14.0479 15.9375 13.696 15.9375ZM12.2984 8.82625C12.2984 9.11964 12.0606 9.3575 11.7672 9.3575H5.23281C4.93943 9.3575 4.70156 9.11964 4.70156 8.82625C4.70156 8.53287 4.93943 8.295 5.23281 8.295H11.7672C12.0606 8.295 12.2984 8.53284 12.2984 8.82625ZM12.2984 12.452C12.2984 12.7454 12.0606 12.9833 11.7672 12.9833H5.23281C4.93943 12.9833 4.70156 12.7454 4.70156 12.452C4.70156 12.1586 4.93943 11.9208 5.23281 11.9208H11.7672C12.0606 11.9208 12.2984 12.1586 12.2984 12.452Z" fill="#484949"/>
														</g>
														<defs>
															<clipPath id="clip0_245_11330">
																<rect width="17" height="17" fill="white"/>
															</clipPath>
														</defs>
													</svg>
													div
														span Отказное письмо ТР ЕФЭС 043
														span pdf, 355 КБ
											li 
												a(href="#" target="_blank") 
													<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_245_11330)">
															<path d="M15.2411 4.79244L10.6043 0.155623C10.5047 0.0559805 10.3696 0 10.2287 0H3.30401C2.36622 0 1.60328 0.762941 1.60328 1.70073V15.2993C1.60328 16.2371 2.36622 17 3.30401 17H13.696C14.6337 17 15.3967 16.2371 15.3967 15.2993V5.16807C15.3967 5.02719 15.3407 4.89205 15.2411 4.79244ZM10.7599 1.81382L13.5829 4.63685H10.7599V1.81382ZM13.696 15.9375H3.30401C2.95209 15.9375 2.66578 15.6512 2.66578 15.2993V1.70073C2.66578 1.34881 2.95209 1.0625 3.30401 1.0625H9.6974V5.16807C9.6974 5.46145 9.93527 5.69932 10.2287 5.69932H14.3342V15.2993C14.3342 15.6512 14.0479 15.9375 13.696 15.9375ZM12.2984 8.82625C12.2984 9.11964 12.0606 9.3575 11.7672 9.3575H5.23281C4.93943 9.3575 4.70156 9.11964 4.70156 8.82625C4.70156 8.53287 4.93943 8.295 5.23281 8.295H11.7672C12.0606 8.295 12.2984 8.53284 12.2984 8.82625ZM12.2984 12.452C12.2984 12.7454 12.0606 12.9833 11.7672 12.9833H5.23281C4.93943 12.9833 4.70156 12.7454 4.70156 12.452C4.70156 12.1586 4.93943 11.9208 5.23281 11.9208H11.7672C12.0606 11.9208 12.2984 12.1586 12.2984 12.452Z" fill="#484949"/>
														</g>
														<defs>
															<clipPath id="clip0_245_11330">
																<rect width="17" height="17" fill="white"/>
															</clipPath>
														</defs>
													</svg>
													div
														span Отказное письмо ТР ЕФЭС 043
														span pdf, 355 КБ
											li 
												a(href="#" target="_blank") 
													<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_245_11330)">
															<path d="M15.2411 4.79244L10.6043 0.155623C10.5047 0.0559805 10.3696 0 10.2287 0H3.30401C2.36622 0 1.60328 0.762941 1.60328 1.70073V15.2993C1.60328 16.2371 2.36622 17 3.30401 17H13.696C14.6337 17 15.3967 16.2371 15.3967 15.2993V5.16807C15.3967 5.02719 15.3407 4.89205 15.2411 4.79244ZM10.7599 1.81382L13.5829 4.63685H10.7599V1.81382ZM13.696 15.9375H3.30401C2.95209 15.9375 2.66578 15.6512 2.66578 15.2993V1.70073C2.66578 1.34881 2.95209 1.0625 3.30401 1.0625H9.6974V5.16807C9.6974 5.46145 9.93527 5.69932 10.2287 5.69932H14.3342V15.2993C14.3342 15.6512 14.0479 15.9375 13.696 15.9375ZM12.2984 8.82625C12.2984 9.11964 12.0606 9.3575 11.7672 9.3575H5.23281C4.93943 9.3575 4.70156 9.11964 4.70156 8.82625C4.70156 8.53287 4.93943 8.295 5.23281 8.295H11.7672C12.0606 8.295 12.2984 8.53284 12.2984 8.82625ZM12.2984 12.452C12.2984 12.7454 12.0606 12.9833 11.7672 12.9833H5.23281C4.93943 12.9833 4.70156 12.7454 4.70156 12.452C4.70156 12.1586 4.93943 11.9208 5.23281 11.9208H11.7672C12.0606 11.9208 12.2984 12.1586 12.2984 12.452Z" fill="#484949"/>
														</g>
														<defs>
															<clipPath id="clip0_245_11330">
																<rect width="17" height="17" fill="white"/>
															</clipPath>
														</defs>
													</svg>
													div
														span Отказное письмо ТР ЕФЭС 043
														span pdf, 355 КБ
											li 
												a(href="#" target="_blank") 
													<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_245_11330)">
															<path d="M15.2411 4.79244L10.6043 0.155623C10.5047 0.0559805 10.3696 0 10.2287 0H3.30401C2.36622 0 1.60328 0.762941 1.60328 1.70073V15.2993C1.60328 16.2371 2.36622 17 3.30401 17H13.696C14.6337 17 15.3967 16.2371 15.3967 15.2993V5.16807C15.3967 5.02719 15.3407 4.89205 15.2411 4.79244ZM10.7599 1.81382L13.5829 4.63685H10.7599V1.81382ZM13.696 15.9375H3.30401C2.95209 15.9375 2.66578 15.6512 2.66578 15.2993V1.70073C2.66578 1.34881 2.95209 1.0625 3.30401 1.0625H9.6974V5.16807C9.6974 5.46145 9.93527 5.69932 10.2287 5.69932H14.3342V15.2993C14.3342 15.6512 14.0479 15.9375 13.696 15.9375ZM12.2984 8.82625C12.2984 9.11964 12.0606 9.3575 11.7672 9.3575H5.23281C4.93943 9.3575 4.70156 9.11964 4.70156 8.82625C4.70156 8.53287 4.93943 8.295 5.23281 8.295H11.7672C12.0606 8.295 12.2984 8.53284 12.2984 8.82625ZM12.2984 12.452C12.2984 12.7454 12.0606 12.9833 11.7672 12.9833H5.23281C4.93943 12.9833 4.70156 12.7454 4.70156 12.452C4.70156 12.1586 4.93943 11.9208 5.23281 11.9208H11.7672C12.0606 11.9208 12.2984 12.1586 12.2984 12.452Z" fill="#484949"/>
														</g>
														<defs>
															<clipPath id="clip0_245_11330">
																<rect width="17" height="17" fill="white"/>
															</clipPath>
														</defs>
													</svg>
													div
														span Отказное письмо ТР ЕФЭС 043
														span pdf, 355 КБ
				.product-page__char.char2(theView="")
					.container 
						h3 Характеристики
						ul 
							li 
								span Мощность
								span 300Вт
							li 
								span Сеть
								span 220В 50Гц
				.product-page__mods(theView="")
					.container 
						h3 Модификации
						ul.product-page__base 
							li Модификация
							li Артикул
							li Рендер
							li Файлы
							li Потреб. мощность, Вт
							li Световая отдача, Лм/Вт
							li Световой поток, Лм
							li Степень защиты
							li Базовые цены
							li
						each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
							ul.product-page__mods-item 
								li 
									a(href="#" target="_blank").newprod ДКУ 07-200-740-Ш2
								li 2000000041247
								li 
									a(href="img/product-page/prod-img.webp" data-fancybox="") 
										img(src="img/product-page/prod-img.png", alt="")
								li 
									ul.files 
										li 
											a(href="#" target="_blank")
												<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.8052 7.52737C9.53864 7.2885 9.10803 7.2885 8.84146 7.52737L6.18265 9.90379V0.612479C6.18265 0.275616 5.87507 0 5.49915 0C5.12322 0 4.81564 0.275616 4.81564 0.612479V9.90992L2.16366 7.5335C1.8971 7.29463 1.46649 7.29463 1.19992 7.5335C0.933359 7.77236 0.933359 8.15823 1.19992 8.39709L5.0207 11.8209C5.28726 12.0597 5.71787 12.0597 5.98443 11.8209L9.8052 8.39709C10.0649 8.15823 10.0649 7.76624 9.8052 7.52737Z" fill="#7389BF"/>
													<rect y="13" width="11" height="1" rx="0.5" fill="#7389BF"/>
												</svg> 
												span IES
										li 
											a(href="#" target="_blank")
												<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.8052 7.52737C9.53864 7.2885 9.10803 7.2885 8.84146 7.52737L6.18265 9.90379V0.612479C6.18265 0.275616 5.87507 0 5.49915 0C5.12322 0 4.81564 0.275616 4.81564 0.612479V9.90992L2.16366 7.5335C1.8971 7.29463 1.46649 7.29463 1.19992 7.5335C0.933359 7.77236 0.933359 8.15823 1.19992 8.39709L5.0207 11.8209C5.28726 12.0597 5.71787 12.0597 5.98443 11.8209L9.8052 8.39709C10.0649 8.15823 10.0649 7.76624 9.8052 7.52737Z" fill="#7389BF"/>
													<rect y="13" width="11" height="1" rx="0.5" fill="#7389BF"/>
												</svg> 
												span Чертеж
										li 
											a(href="#" target="_blank")
												<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.8052 7.52737C9.53864 7.2885 9.10803 7.2885 8.84146 7.52737L6.18265 9.90379V0.612479C6.18265 0.275616 5.87507 0 5.49915 0C5.12322 0 4.81564 0.275616 4.81564 0.612479V9.90992L2.16366 7.5335C1.8971 7.29463 1.46649 7.29463 1.19992 7.5335C0.933359 7.77236 0.933359 8.15823 1.19992 8.39709L5.0207 11.8209C5.28726 12.0597 5.71787 12.0597 5.98443 11.8209L9.8052 8.39709C10.0649 8.15823 10.0649 7.76624 9.8052 7.52737Z" fill="#7389BF"/>
													<rect y="13" width="11" height="1" rx="0.5" fill="#7389BF"/>
												</svg> 
												span КСС
								li 200
								li 149
								li 29790
								li IP66
								li 28150
								li 
									a(href="#").moreAndMore Подробнее 
						a(href="#").showMore.btn Показать еще