extends ../layout/main

block variables
	- const pageTitle = "Склад 20 000 м² компании Сладкая жизнь ";
	- const bodyClass = "not-front";

block content
	main 
		.project-item 
			.project-item__top
				include ../blocks/breadcrumbs.pug
				.project-item__descr Модернизация систем освещения была проведена в производственных цехах, складских помещениях, общественных зонах и на уличной территории. Всего было установлено более 16 000 светильников. Среди них: уличные светильники FSL, ДКУ и ДПП; встраиваемые модели ДВО и ССВ; линейные светильники ДСО.<br><br>Новое контрастное, естественное и равномерное LED-освещение создало благоприятную атмосферу в общественных помещениях. На производстве на уровень комфорта и безопасности положительно повлияло отсутствие стробоскопического эффекта у светильников (стробоскопический эффект – зрительная иллюзия, когда движущиеся предметы могут показаться неподвижными и, наоборот, что часто служит причиной травматизма). 
			.project-item__swiper.swiper 
				.swiper-wrapper 
					.swiper-slide 
						img(src="img/project/project1.png", alt="")
					.swiper-slide 
						img(src="img/project/project2.png", alt="")
			.project-item__bottom 
				.project-item__partner 
					img(src="img/project/sweet.png", alt="")
				.project-item__quote 
					span Компания ООО «Сладкая жизнь» выражает благодарность генеральному подрядчику АльянсФерекс за своевременную и качественную реализацию проекта главного склада Сладкая жизнь в Нижнем Новгороде общей площадью около 20 000 м2<br><br>Мы хотим отметить клиентоориентированный подход компании и высокий уровень профессионализма ее сотрудников, которые демонстрировали неизменно высокое качество выполнения работы.
				a(href="#").btn 
					div Следующий проект
					img(src="img/project/proj-next.svg", alt="")
