extends ../layout/main

block variables
	- const pageTitle = "Освещение парков и скверов";
	- const bodyClass = "not-front";

block content
	main 
		.service-cart 
			.service-cart__top
				include ../blocks/breadcrumbs.pug
				.service-cart__subtitle В парках и скверах люди отдыхают не только днем, но и вечером и даже ночью, поэтому только правильно подобранные осветительные устройства обеспечат комфортное времяпровождение.
				a(href="#").btn Рассчитать стоимость
				.service-cart__bg 
					img(src="img/service/service-bg.png", alt="")
			.service-cart__how 
				.overlay
					.overlay__mouse 
						<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.96743 12.9652L7.01165 13.9147L0 6.9569L7.01165 0L7.96792 0.949067L2 7L7.96743 12.9652Z" fill="#484949"/>
						</svg>
						<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.97007 12.9652L1.92585 13.9147L8.9375 6.9569L1.92585 0L0.96958 0.949067L6.9375 7L0.97007 12.9652Z" fill="#484949"/>
						</svg>
				h2 Как мы работаем
				.service-cart__swiper.swiper 
					.swiper-wrapper 
						.swiper-slide.type1
							h3 Светотехнические расчеты
							span Светотехнические расчеты для подбора светильников индивидуально под ваш объект для обеспечения максимального уровня освещенности при минимальных затратах.
						.swiper-slide.type2
							h3 Проектирование систем освещения
							span Полноценная подготовка документации проекта систем освещения, включая монтажные схемы, электрический расчет, спецификацию и т.д.
						.swiper-slide.type3
							h3 Подбор и доставка светильников
							span Помогаем с подбором нужных светильников и осуществляем доставку по всей России в кратчайшие сроки.
						.swiper-slide.type1
							h3 Электромонтажные работы "под ключ"
							span Профессиональный монтаж специалистами с учетом особенностей продукции проектной светотехники IEK: FEREKS, LEDEL, IEK Lighting.
						.swiper-slide.type2
							h3 Гарантийное обслуживание
							span Гарантийное обслуживание в течение 5 лет. При возникновении гарантийного случая, светильник ремонтируется и гарантия возобновляется.
					.swiper-scrollbar
			.home-calc 
				.container 
					.wrapper 
						h2 Бесплатно приедем и проведем светотехнический расчет
						ul 
							li(value="1") Оставьте заявку на сайте — это займет меньше минуты
							li(value="2") Мы обсудим ваш проект, выберем время для встречи и проектирования
							li(value="3") Бесплатно проведем светотехнический расчет на объекте
						h3 Ваши контактные данные
						form(action="#")
							.form-item.name 
								input#homeName(type="text", name="" placeholder="Ваше имя*") 
							.form-item.phone 
								input#homePhone(type="tel", name="" placeholder="Телефон*")
							.form-item.submit 
								input(type="submit", value="Отправить" data-popup="thanks").btn
							.form-item.person 
								span Отправляя форму, вы даете согласие на&nbsp
								a(href="#" target="_blank") обработку персональных данных 
							.form-item.req 
								span *Поля обязательны к заполнению
			.service-cart__perfect 
				.container 
					h2 Сделаем проект - идеально
					.wrapper 
						.service-cart__img 
							img(src="img/service/img1.svg", alt="")
						ul
							li 
								h3 Стандарты
								span Руководствуемся стандартами строительных норм и правил (СНиП)
							li 
								h3 Акценты
								span Формируем акценты для выделения отдельных объектов архитектуры
							li 
								h3 Баланс
								span Создаем идеальный баланс между энергоэффективностью, эстетикой и безопасностью
			.FAQ__block 
				.container
					h2 Ответы на частые вопросы
					.FAQ__item 
						.FAQ__item-title
							.number /01
							span Как узнать цену на продукцию?
							img(src="img/icons/FAQ.svg", alt="")
						.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
					.FAQ__item 
						.FAQ__item-title
							.number /01
							span Как узнать цену на продукцию?
							img(src="img/icons/FAQ.svg", alt="")
						.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
					.FAQ__item 
						.FAQ__item-title
							.number /01
							span Как узнать цену на продукцию?
							img(src="img/icons/FAQ.svg", alt="")
						.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
					.FAQ__item 
						.FAQ__item-title
							.number /01
							span Как узнать цену на продукцию?
							img(src="img/icons/FAQ.svg", alt="")
						.FAQ__item-body Выпускаемые изделия отличаются высокой эффективностью, качеством исполнения и разумной ценой.<br><br>В ассортименте компании представлено более 100 моделей для любой сферы. В их числе светодиодные светильники для освещения торговых, производственных, логистических, строительных комплексов, спортивных объектов, офисного, уличного, паркового освещения, архитектурной подсветки зданий, а также взрывозащищенные модели.
			.home-links 
				.container 
					ul
						li 
							a(href="#")
								.home-links__title Каталог
								.home-links__descr Промышленное, офисное, уличное освещение.<br><br>Более 100 моделей светильников.
								.home-links__img
									img(src="img/index/cart1.svg", alt="")
						li 
							a(href="#")
								.home-links__title Услуги
								.home-links__descr Рассказываем подробно про весь цикл : от проектирования и выбора светильников до обслуживания и гарантии.
								.home-links__img
									img(src="img/index/cart2.svg", alt="")
