extends ../layout/main

block append variables
	- const pageTitle = "Политика конфиденциальности";
	//- - const pageTitle_OFF = true;
	- const bodyClass = "text-page";

block content
	main
		include ../blocks/breadcrumbs
		.container
			.content 
				h2 Политика конфиденциальности
				h3 Политика конфиденциальности
				p Мы вынуждены отталкиваться от того, что синтетическое тестирование не даёт нам иного выбора, кроме определения экспериментов, поражающих по своей масштабности и грандиозности. Для современного мира современная методология разработки предопределяет высокую востребованность экономической целесообразности принимаемых решений.<br><br>Кстати, представители современных социальных резервов, превозмогая сложившуюся непростую экономическую ситуацию, описаны максимально подробно. Для современного мира современная методология разработки напрямую зависит от форм воздействия. Как принято считать, предприниматели в сети интернет представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объективно рассмотрены соответствующими инстанциями. Идейные соображения высшего порядка, а также укрепление и развитие внутренней структуры требует анализа модели развития.<br><br>Кстати, представители современных социальных резервов, <a href="#">превозмогая сложившуюся непростую</a> экономическую ситуацию, описаны максимально подробно. Для современного мира современная методология разработки напрямую зависит от форм воздействия. Как принято считать, предприниматели в сети интернет представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объективно рассмотрены соответствующими инстанциями. Идейные соображения высшего порядка, а также укрепление и развитие внутренней структуры требует анализа модели развития.
				ul 
					li Это известные люди, «номер один» в своей сфере, обладающие связями в бизнесе, которые вы можете получить через знакомство с ними. Они заряжают энергией и вдохновляют на новые подвиги. Мы вынуждены отталкиваться от того, что синтетическое тестирование не даёт нам иного выбора, кроме определения экспериментов.
					li Это известные люди, «номер один» в своей сфере, обладающие связями в бизнесе, которые вы можете получить через знакомство с ними. Они заряжают энергией и вдохновляют на новые подвиги. Мы вынуждены отталкиваться от того, что синтетическое тестирование не даёт нам иного выбора, кроме определения экспериментов.
				ol 
					li Это известные люди, «номер один» в своей сфере, обладающие связями в бизнесе, которые вы можете получить через знакомство с ними. Они заряжают энергией и вдохновляют на новые подвиги. Мы вынуждены отталкиваться от того, что синтетическое тестирование не даёт нам иного выбора, кроме определения экспериментов
					li Это известные люди, «номер один» в своей сфере, обладающие связями в бизнесе, которые вы можете получить через знакомство с ними. Они заряжают энергией и вдохновляют на новые подвиги. Мы вынуждены отталкиваться от того, что синтетическое тестирование не даёт нам иного выбора, кроме определения эксперименто
				table 
					thead 
						tr 
							th Модификация
							th Артикул
							th Потреб. мощность, Вт
							th Световая отдача, Лм/Вт
							th Световой поток, Лм
							th Степень защиты
							th Базовые цены
					tbody 
						each val in [1, 2, 3, 4, 5]
							tr 							
								td ДКУ 07-200-740-Ш2
								td 2000000041247
								td 200
								td 149
								td 29790
								td IP66
								td 28150
				.gal 
					h2 Фотогалерея
					ul 
						- for (let i = 1; i < 9; i++)
							li 
								a(href="img/about/gal" + i + ".webp" data-fancybox="gall") 
									img(src="img/about/gal" + i + ".png", alt="")
