//- Header
header.header 
	.container 
		.header__top 
			a(href="index.html").header__logo 
				img(src="img/icons/header-logo.svg", alt="Logo")
			nav
				ul
					li
						a(href="index.html").active Светодиодное освещение
					li
						a(href="index_copy.html") Электротехническое оборудование
					li
						a(href="about.html") О компании
					li
						a(href="contacts.html") Контакты
			.wrapper 
				a(href="tel:+78005505201").header__phone 
					span 8 800 550-52-01
				a(href="mail:info@allfereks.ru").header__mail info@allfereks.ru
				.burger 
					span.first 
					span.second 
					span.third 
		.header__bottom 
			.header__subnav 
				ul 
					li 
						a(href="catalog.html").cat Каталог
					li.extended
						a(href="service-cart.html") Услуги
						ul.header__submenu 
							li 
								a(href="product-list.html") Архитектурное освещение
							li 
								a(href="product-list-f.html") Освещение АЗС
							li 
								a(href="product-list.html") Освещение логистических центров
							li 
								a(href="product-list-f.html") Освещение парков и скверов
							li 
								a(href="product-list.html") Освещение спортивных сооружений
							li 
								a(href="product-list-f.html") Офисное освещение
							li 
								a(href="product-list.html") Производственное освещение
							li 
								a(href="product-list-f.html") Торговое освещение
							li 
								a(href="product-list.html") Уличное освещение
					li
						a(href="project-list.html") Проекты
					li
						a(href="FAQ.html") Вопрос-ответ
ul.mobile-menu 
	li.expended 
		span Светодиодное освещение
		ul.mobile-submenu 
			li 
				a(href="index.html") Обзор
			li.cat-mob
				a(href="catalog.html") Каталог
			li.expended 
				span Услуги
				ul.mobile-subsubmenu
					li 
						a(href="product-list.html") Архитектурное освещение
					li 
						a(href="product-list.html") Освещение АЗС
					li 
						a(href="product-list.html") Освещение логистических центров
					li 
						a(href="product-list.html") Освещение парков и скверов
					li 
						a(href="product-list.html") Освещение спортивных сооружений
					li 
						a(href="product-list.html") Офисное освещение
					li 
						a(href="product-list.html") Производственное освещение
					li 
						a(href="product-list.html") Торговое освещение
					li 
						a(href="product-list.html") Уличное освещение
			li 
				a(href="project-list.html") Проекты
			li 
				a(href="FAQ.html") Вопрос-ответ
	li.expended 
		span Электротехническое оборудование
		ul.mobile-submenu 
			li 
				a(href="index_copy.html") Обзор
			li.cat-mob  
				a(href="catalog.html") Каталог
			li.expended 
				span Услуги
				ul.mobile-subsubmenu
					li 
						a(href="product-list.html") Архитектурное освещение
					li 
						a(href="product-list.html") Освещение АЗС
					li 
						a(href="product-list.html") Освещение логистических центров
					li 
						a(href="product-list.html") Освещение парков и скверов
					li 
						a(href="product-list.html") Освещение спортивных сооружений
					li 
						a(href="product-list.html") Офисное освещение
					li 
						a(href="product-list.html") Производственное освещение
					li 
						a(href="product-list.html") Торговое освещение
					li 
						a(href="product-list.html") Уличное освещение
			li 
				a(href="project-list.html") Проекты
			li 
				a(href="FAQ.html") Вопрос-ответ
	li 
		a(href="about.html") О компании
	li 
		a(href="contacts.html") Контакты
		
						